*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f6f6f6;
}

section {
  margin: 20vh auto;
  width: 430px;
}

#list-title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
}

::placeholder {
  font-style: italic;
}

#input-field {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
}

input {
  background-color: white;
  border: none;
}

input:checked + label {
  text-decoration: line-through;
}

ul {
  background-color: white;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
}

#clear {
  border: none;
  background-color: transparent;
  height: 50px;
  width: 100%;
  font-size: 15px;
}

#clear:hover {
  text-decoration: underline;
}
