*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

body {
  background-color: #f6f6f6;
}

section {
  margin: 20vh auto;
  width: 430px;
  -webkit-box-shadow: -1px 9px 14px 5px rgba(163, 160, 161, 0.72);
  -moz-box-shadow: -1px 9px 14px 5px rgba(163, 160, 161, 0.72);
  box-shadow: -1px 9px 14px 5px rgba(163, 160, 161, 0.722);
}

#message-display {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

#list-title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
  height: 50px;
  padding: 0 15px;
}

#input-field {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
  height: 50px;
  padding: 0 15px;
}

::placeholder {
  font-style: italic;
}

input {
  background-color: white;
  border: none;
  border-top: 1px solid rgba(163, 160, 161, 0.722);
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
  height: 50px;
}

label {
  margin-left: 7px;
}

input:checked + label {
  text-decoration: line-through;
}

ul {
  background-color: white;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(163, 160, 161, 0.722);
  height: 50px;
  padding: 0 15px;
}

.task-info {
  display: flex;
  align-items: center;
}

#clear {
  border: none;
  background-color: transparent;
  height: 50px;
  width: 100%;
  font-size: 15px;
}

#clear:hover {
  text-decoration: underline;
}

